/* Reset CSS */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Global CSS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container-logo,
.container-logo-rodape {
  position: relative;
}

.container-logo-conteudo,
.container-logo-textos,
.container-links,
.container-logo-rodape img,
.container-logo-conteudo,
.container-logo-textos,
.container-logo-rodape-textos {
  position: absolute;
}

.container-rodape,
.container-logo-rodape,
.container-rodape-desenvolvimento {
  text-align: center;
}

.celular-vazia,
.container-logo-rodape-textos p {
  color: #fff;
}

.container-logo-textos p,
.container-links a,
.container-logo-rodape-textos,
.container-copyright {
  font-weight: 600;
  color: #fff;
}

.ponto,
.container-rodape-desenvolvimento span {
  color: #2f86d6;
}

.container-principal,
  .container-rodape {
  padding: 100px 0px;
}

/* Seção Topo | Header Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container-topo {
  background-color: #2f86d6;
  padding: 35px 0px;
}

.container-logo {
  width: 1024px;
  height: 8vh;
}

.container-logo-conteudo {
  width: 320px;
}

.container-logo-conteudo img {
  width: 80px;
}

.container-logo-textos {
  top: 0;
  right: 0;
}

.container-links {
  top: 30%;
  right: 0;
}

.container-links a {
  text-decoration: none;
  padding-left: 20px;
}

/* Seção Conteúdo Principal | Main Content Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container-principal {
  background-color: #fff;
}

table {
  border-collapse: collapse;
}

.container-tabela {
  text-align: center;
  width: 1024px;
}

.container-tabela p {
  font-size: 10px;
  font-weight: 500;
  color: #a8a4a4;
}

th, .item {
  background-color: #f1f3f7;
  border: 1px solid #fff;

}

th {
  width: 220px;
  border: 1px solid #fff;
  padding: 20px 0px;
  font-size: 20px;
}

td {
  font-size: 14px;
  border: 1px solid #f1f3f7;
}

.item {
  text-align: left;
  width: 320px;
  padding: 20px;
  font-weight: 500;
}

.celular-vazia {
  background-color: #fff;
}

.ponto {
  font-size: 18px;
}

/* Seção Rodapé | Footer Section >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.container-rodape {
  background-color: #2f86d6;
}

.container-logo-rodape {
  width: 320px;
  height: 8vh;
}

.container-logo-rodape img {
  width: 80px;
  top: 0;
  left: 0;
}

.container-logo-conteudo {
  width: 320px;
}

.container-logo-conteudo img {
  width: 80px;
}

.container-logo-textos {
  top: 0;
  right: 0;
}

.container-logo-rodape-textos {
  top: 0;
  right: 0;
  text-align: left;
}

.container-logo-rodape-textos h1 {
  color: #000000;
}

.container-copyright {
  margin-top: 40px;
}

.container-rodape-desenvolvimento {
  background-color: antiquewhite;
  padding: 20px 0px;
  font-weight: 600;
}
