* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
}

/* Seção Topo | Head Section */

.container-topo {
  padding: 35px 0px;
  height: 155px;
  background-color: #fff;
}

.container-topo-conteudo {
  position: relative;
  width: 1024px;
}

.container-logo {
  position: absolute;
  width: 320px;
}

.container-logo img{
  width: 80px;
}

.subcontainer-logo-textos {
  padding-left: 15px;
  position: absolute;
  display: inline-block;
  top: 0;
}

.subcontainer-logo-textos h1 {
  font-size: 32px;
  color: #000000;
}

.subcontainer-logo-textos p {
  font-size: 10px;
  font-weight: 600;
  color: #2f86d6;
}

.container-links {
  position: absolute;
  text-align: right;
  width: 500px;
  right: 0;
  top: 3.5vh;
}

.container-links a {
  font-weight: 500;
  padding-left: 24px;
  text-decoration: none;
  font-size: 18px;
  color: #233032;
}

/* Seção Banner | Banner section */

.container-banner {
  background-color: #2f86d6;
}

.container-banner-texto p {
  font-size: 16px;
  color: #fff;
}

.container-banner-texto h2 {
  font-size: 28px;
  color: #fff; 
}

/* Seção Primeiro Anúncio | First Ad Section */

.container-anuncio1 {
  background-color: #233032;
}

.container-anuncio1 h2 {
  font-size: 24px;
  color: #fff;
}

.container-anuncio1 p {
  font-size: 16px;
  color: #fff;
}

.container-botao {
  background-color: #2f86d6;
}

.container-botao a {
  font-size: 18px;
  text-decoration: none;
}

/* Seção Informações | Info Section */

.container-informacoes {
  background-color: #fff;
}

.container-informacoes img {
  width: 100px;
}

.container-informacoes h2 {
  font-size: 32px;
  color: #000000;
}

.container-informacoes span {
  font-size: 32px;
  color: #2f86d6;
}

.container-informacoes h3 {
  font-size: 18px;
  color: #000000;
}

.container-informacoes p {
  font-size: 16px;
  color: #000000;
}

.container-vantagem {
  text-align: center;
  display: inline-block;
  width: 300px;
}

/* Seção Planos | Plans Section */

.container-planos-titulo {
  background-color: #fff;
  text-align: center;
}

.container-planos-titulo h2 {
  font-size: 32px;
  color: #000000;
}

.container-planos-titulo span {
  color: #2f86d6;
}

.container-planos-tabela {
  box-shadow: 0px 0px 40px 0px #2f86d6;
}

.container-planos-tabela h3 {
  font-size: 18px;
  color: #000000;
}

.container-planos-tabela img {
  width: 120px;
}

.container-planos-tabela p {
  font-size: 13px;
  color: #a89f9f;
}

.container-planos-tabela td {
  text-align: center;
}

.linha-impar {
  font-size: 16px;
  background-color: #f6f6f6;
}

.linha-par {
  font-size: 16px;
  background-color: #f1f3f7;
}

/* Seção Segundo Anúcio | Second Ad Section */

.container-anuncio2 {
  background-color: #2f86d6;
}

.container-anuncio2-texto h2 {
  font-size: 24px;
  color: #fff;
}

.container-botao2 {
  background-color: #233032;
}

.container-botao2 a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

/* Seção Rodapé | Footer Section */

.container-rodape {
  background-color: #fff;
}

.container-contatos-logo img {
  width: 100px;
}

.container-contatos-logo h1 {
  font-size: 32px;
  color: #000000;
}

.container-contatos-logo p {
  font-size: 16px;
  color: #2f86d6;
  font-weight: 600;
}

.container-contatos-info {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.container-desenvolvedor {
  font-weight: 600;
  font-size: 16px;
}

.container-desenvolvedor span {
  color: #2f86d6;
}