/* Reset CSS */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Global CSS <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-topo-conteudo,
.container-banner-conteudo,
.container-anuncio-conteudo,
.container-informacoes-vantagens,
.tabela-planos,
.container-planos-tabela,
.container-rodape-conteudo {
  width: 1024px;
}

.subcontainer-logo-textos p,
.container-links a,
.container-contatos-logo p,
.container-contatos-info,
.container-desenvolvedor {
  font-weight: 600;
}

.container-topo-conteudo,
.container-banner-conteudo,
.container-anuncio-conteudo,
.container-rodape,
.container-rodape-conteudo,
.container-contatos-logo {
  position: relative;
}

.container-logo,
.subcontainer-logo-textos,
.container-links,
.banner-textos,
.container-banner-imagens,
.container-anuncio-textos,
.container-botao,
.container-contatos-textos {
  position: absolute;
}

.container-anuncio,
.container-informacoes,
.container-vantagem,
.container-planos-titulo,
.container-planos-tabela td,
.container-rodape-conteudo,
.container-desenvolvedor {
  text-align: center;
}

.container-links,
.container-banner-imagens,
.container-banner-imagens img {
  text-align: right;
}

.container-topo,
.container-banner,
.container-informacoes,
.container-planos,
.container-rodape {
  height: fit-content;
}

.subcontainer-logo-textos p,
.container-informacoes span,
.container-planos-titulo span,
.container-contatos-logo p,
.container-desenvolvedor p span {
  color: #2f86d6;
}

.container-topo,
.container-informacoes,
.container-rodape {
  background-color: #fff;
}

.banner-textos p,
.banner-textos h2,
.container-anuncio h2,
.container-anuncio p {
  color: #fff;
}

/* Seção Topo | Head Section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-topo {
  padding: 35px 0px;
}

.container-topo-conteudo {
  height: 10vh;
}

.container-logo {
  width: 320px;
}

.container-logo img{
  width: 80px;
}

.subcontainer-logo-textos {
  padding-left: 15px;
  display: inline-block;
  top: 0;
}

.subcontainer-logo-textos h1 {
  font-size: 32px;
  color: #000000;
  line-height: 1px;
  padding-top: 25px;
}

.subcontainer-logo-textos p {
  font-size: 16px;
}

.container-links {
  width: 500px;
  right: 0;
  top: 3.5vh;
  padding: 0px 0px;
}

.container-links a {
  padding-left: 25px;
  text-decoration: none;
  font-size: 18px;
  color: #233032;
}

/* Seção Banner | Banner section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-banner {
  padding: 100px 0px;
  background-color: #2f86d6;
}

.container-banner-conteudo {
  height: 50vh;
}

.banner-textos {
  width: 470px;
  left: 0;
  top: 18%;
}

.banner-textos p {
  font-size: 17px;
  padding-bottom: 20px;
}

.banner-textos h2 {
  font-size: 28px;
}

.container-banner-imagens {
  top: 0%;
  right: 0;
  bottom: 0;
}

.container-banner-imagens img {
  width: 90%;
}

/* Seção Primeiro Anúncio | First Ad Section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-anuncio {
  background-color: #233032;
  padding: 40px 0px;
  height: 150px;
}

.container-anuncio-conteudo {
  height: 100%;
}

.container-anuncio-textos {
  width: 600px;
  text-align: left;
}

.container-anuncio-textos p {
  line-height: 1px;
}

.container-anuncio h2 {
  font-size: 24px;
}

.container-anuncio p {
  font-size: 16px;
}

.container-botao {
  background-color: #2f86d6;
  width: fit-content;
  border-radius: 5px;
  top: 0;
  right: 0;
  padding: 20px;
}

.container-botao a {
  font-size: 18px;
  text-decoration: none;
}

.container-botao a img {
  display: inline-block;
}

.container-botao a p {
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

/* Seção Informações | Info Section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-informacoes {
  padding: 100px 0px;
}

.container-informacoes img {
  width: 100px;
}

.containeir-informacoes-subtitulo {
  width: 900px;
}
.container-informacoes h2 {
  font-size: 32px;
  color: #000000;
}

.container-informacoes span {
  font-size: 32px;
}

.container-informacoes h3 {
  font-size: 18px;
  color: #000000;
}

.container-informacoes p {
  font-size: 16px;
  color: #000000;
}

.container-vantagem img, h3, p {
  padding-top: 20px;
}

.container-informacoes-vantagens {
  padding-top: 40px;
}

.container-vantagem {
  display: inline-block;
  width: 33%;
}

/* Seção Planos | Plans Section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */ 

.container-planos {
  padding: 100px 0px;
  background-color: rgba(242, 244, 247, 1);
}

.container-planos-titulo h2 {
  font-size: 32px;
  color: #000000;
  padding-bottom: 70px;
}

.tabela-planos {
  border-collapse: collapse;
}

.container-planos-tabela {
  border-radius: 5px;
  box-shadow: 0px 0px 40px 15px rgba(47, 134, 214, 1);
}

.container-planos-tabela h3 {
  font-size: 18px;
  color: #000000;
}

.container-planos-tabela img {
  padding-top: 20px;
  width: 120px;
}

.container-planos-tabela p {
  font-size: 13px;
  color: #a89f9f;
}

.container-planos-tabela td {
  padding: 15px;
}

td, th {
  border: 2px solid #a89f9f20;
}

.tabela-planos thead tr p {
  font-weight: 400;
}

.tabela-planos th {
  padding: 20px 60px;
  width: 25%;
}

.linha-impar {
  font-size: 16px;
  background-color: #f1f3f7;
}

.linha-par {
  font-size: 16px;
  background-color: #f6f6f6;
}

/* Seção Segundo Anúcio | Second Ad Section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-anuncio2 {
  background-color: #2f86d6;
}

.container-botao2 {
  background-color: #233032;
}

/* Seção Rodapé | Footer Section <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.container-rodape {
  padding: 80px 0px;
}

.container-contatos-logo {
  text-align: left;
  width: 320px;
  margin-bottom: 30px;
}

.container-contatos-logo img {
  left: 0;
  width: 80px;
}

.container-contatos-textos {
  display: inline-block;
  text-align: left;
  top: 15%;
  padding-left: 20px;
}

.container-contatos-logo h1 {
  font-size: 32px;
  padding-top: 0px;
  color: #000000;
  line-height: 1em;
}

.container-contatos-logo p {
  padding-top: 5px;
  font-size: 16px;
}

.container-contatos-info {
  font-size: 16px;
  color: #000000;
  line-height: normal;
}

.container-desenvolvedor {
  background-color: rgba(242, 244, 247, 1);
  font-size: 18px;
}

.container-desenvolvedor p {
  padding-bottom: 15px;
}
